<div class="forgot-password-container">
    <h2>Recuperar Contraseña</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Correo Electrónico</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          class="form-control"
          [ngClass]="{ 'is-invalid': forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched }"
        />
        <div *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched" class="invalid-feedback">
          <small *ngIf="forgotPasswordForm.get('email')?.errors?.['required']">El correo es obligatorio.</small>
          <small *ngIf="forgotPasswordForm.get('email')?.errors?.['email']">Debe ser un correo válido.</small>
        </div>
      </div>
  
      <button type="submit" class="btn btn-primary" [disabled]="forgotPasswordForm.invalid">Enviar Correo</button>
    </form>
  
    <div *ngIf="successMessage" class="text-success mt-3">
      {{ successMessage }}
    </div>
    <div *ngIf="errorMessage" class="text-danger mt-3">
      {{ errorMessage }}
    </div>
  
    <div class="text-center mt-3">
      <p>
        ¿Ya recuerdas tu contraseña?
        <a routerLink="/login" class="link">Inicia sesión aquí</a>
      </p>
    </div>
  </div>
  