.button-container {
  display: flex;
  justify-content: space-between; /* Asegura que los botones estén separados */
  margin-top: 20px; /* Espaciado superior */
}

.logout-btn {
  background-color: #dc3545; /* Rojo */
  color: white;
  border: none;
  padding: 10px 20px; /* Ajusta el padding para mayor consistencia */
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-btn:hover {
  background-color: #c82333; /* Un rojo más oscuro */
}
