header {
    padding: 10px 0;
    box-shadow: none; /* Eliminado el box-shadow */
    border-bottom: none; /* Asegurarse de que no haya borde */
  }
  .navbar-brand h1 {
    font-family: 'font1', sans-serif;
    color: #333;
  }
  .nav-link {
    color: #333;
    font-size: 1.1em;
    transition: color 0.3s;
  }
  .nav-link:hover {
    color: #0056b3;
  }
  .icon-link i {
    font-size: 1.5em;
  }