<header class="bg-white">
  <nav class="navbar navbar-expand-lg navbar-light container">
    <a class="navbar-brand" routerLink="/productos">
      <h1 class="h4">GZ</h1>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link icon-link" routerLink="/carrito">
            <i class="bi bi-cart"></i>
          </a>
        </li>
        <li class="nav-item" *ngIf="!isAuthenticated">
          <a class="nav-link icon-link" routerLink="/register">
            <i class="bi bi-person"></i>
          </a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
          <a class="nav-link icon-link" routerLink="/profile-edit">
            <i class="bi bi-person-circle"></i>
          </a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link icon-link" routerLink="/product-management">
            <i class="bi bi-gear"></i>
          </a>
        </li>
        <li class="nav-item" *ngIf="isAdmin">
          <a class="nav-link icon-link" routerLink="/register-admin">
            <i class="bi bi-person-plus"></i>
          </a>
        </li>        
      </ul>           
    </div>
  </nav>
</header>