<div class="privacy-container">
  <h2>AVISO DE PRIVACIDAD</h2>
  <p>
    Gadget Zone, es responsable del tratamiento de sus datos personales conforme a
    este aviso de privacidad.
  </p>
  <h4>Datos Personales</h4>
  <p>Podemos recopilar los siguientes datos personales:</p>
  <ul>
    <li>Nombre y apellidos</li>
    <li>Dirección de correo electrónico</li>
    <li>Información de pago (como datos de tarjetas de crédito o débito)</li>
    <li>Historial de compras</li>
  </ul>  
  <h4>Finalidad del Tratamiento de Datos</h4>
  <p>Los datos personales que recopilamos serán utilizados para:</p>
  <ul>
    <li>Procesar y gestionar sus pedidos y compras en línea.</li>
    <li>Proporcionar atención al cliente y soporte técnico.</li>
    <li>Cumplir con las obligaciones legales y reglamentarias aplicables.</li>
    <li>Enviar comunicaciones relacionadas con sus pedidos o consultas.</li>
  </ul>
  <h4>Transferencia de Datos</h4>
  <p>Sus datos personales pueden ser compartidos con terceros únicamente para los
    fines establecidos en este aviso de privacidad, tales como:
  </p>
  <ul>
    <li>Proveedores de servicios de pago para procesar transacciones.</li>
    <li>Autoridades competentes en caso de requerimiento legal.</li>
  </ul>
  <p>No venderemos ni compartiremos sus datos personales con terceros para fines
    distintos a los mencionados sin su consentimiento previo.
  </p>
  <h4>Derechos</h4>
  <p>Usted tiene derecho a Acceder, Rectificar, Cancelar u Oponerse al tratamiento de
    sus datos personales (Derechos ARCO). Para ejercer estos derechos, puede
    ponerse en contacto con nuestro Departamento de Protección de Datos a través de
    <a href="mailto:gadgetzone510&#64;gmail.com">gadgetzone510&#64;gmail.com</a>, 
    proporcionando la información necesaria para
    identificar su solicitud (usuario y la problemática o motivo del correo).
  </p>
  <h4>Medidas de Seguridad</h4>
  <p>Implementamos medidas de seguridad técnicas para proteger sus datos personales
    contra daño, pérdida, alteración, destrucción o acceso no autorizado. Sin embargo,
    ningún método de transmisión por Internet o almacenamiento electrónico es 100%
    seguro.
  </p>
  <h4>Uso de Cookies y Tecnologías Similares</h4>
  <p>Al utilizar nuestros Servicios y realizar pedidos a través de ellos, usted acepta
    proporcionarnos su dirección de correo electrónico y nombre completo con
    veracidad y exactitud. También acepta que en caso de ser necesario, podemos
    utilizar esta información para ponernos en contacto con usted, dentro del ámbito de
    su pedido.<br>Respetamos su derecho a la privacidad; al utilizar nuestros Servicios o de cualquier
    otra manera, usted acepta y, cuando sea necesario, da su consentimiento para la
    recopilación, uso y transferencia de su información.
  </p>
  <h4>Cambios al Aviso de Privacidad</h4>
  <p>Nos reservamos el derecho de modificar este aviso de privacidad en cualquier
    momento. Las modificaciones serán publicadas en nuestro sitio web en la sección
    correspondiente. Le recomendamos revisar periódicamente este aviso para estar
    informado sobre cómo protegemos su información.
  </p>
</div>
  