<div class="product-management">
    <h2>Gestión de Productos</h2>
  
    <div class="new-product">
      <h3>Agregar Nuevo Producto</h3>
      <input [(ngModel)]="newProduct.name" placeholder="Nombre del Producto" />
      <input [(ngModel)]="newProduct.description" placeholder="Descripción" />
      <input [(ngModel)]="newProduct.price" type="number" placeholder="Precio" />
      <input [(ngModel)]="newProduct.stock" type="number" placeholder="Stock" />
      <input [(ngModel)]="newProduct.imageUrl" placeholder="URL de la Imagen" />
      <button (click)="addProduct()">Agregar Producto</button>
    </div>
  
    <div class="product-list">
      <h3>Lista de Productos</h3>
      <div *ngFor="let product of products">
        <h4>{{ product.name }}</h4>
        <p>{{ product.description }}</p>
        <p>Precio: ${{ product.price }}</p>
        <p>Stock: {{ product.stock }}</p>
        <button (click)="updateProduct(product)">Actualizar Producto</button>
        <button (click)="deleteProduct(product.id)">Eliminar Producto</button>
      </div>
    </div>
  </div>