<app-highlight-banner></app-highlight-banner>
<p><br></p>
<h2>Catálogo de Productos</h2>

<div class="search-bar">
  <input
    type="text"
    [(ngModel)]="searchQuery"
    (input)="onSearchInput($event)"
    placeholder="Buscar productos por nombre"
    class="form-control"
  />
</div>

<div class="product-grid">
  <div *ngFor="let product of products" class="product-card">
    <div class="product-image">
      <img
        [src]="product.image_url || 'https://via.placeholder.com/150'"
        alt="{{ product.name || 'Producto sin nombre' }}"
        class="img-fluid"
      />
    </div>
    <div class="product-details">
      <h3>{{ product.name || 'Producto sin nombre' }}</h3>
    </div>
    <a class="btn product-button" [routerLink]="['/producto', product.id]">Ver Detalles</a>
  </div>
</div>
